export API_KEY=""
export API_SECRET=""
export HOST=""

source_env_if_exists .envrc.private
export WEBHOOK_URI=https://$HOST/shopify/webhook/shopify_app
export AUTH_REDIRECT_URI=https://$HOST/shop/authorized/shopify_app
export ADMIN_API_ENDPOINT=https://$HOST/api/admin
export STOREFRONT_API_ENDPOINT=https://$HOST/api/store_front
# vi:syntax=bash
