version: '3.2'
services:
  db:
    image: "postgres:14"
    ports:
      - "5432:5432"
    environment:
      - "POSTGRES_USER=postgres"
      - "POSTGRES_PASSWORD=postgres"
  ngrok:
    image: "wernight/ngrok"
    environment:
      - "NGROK_AUTH=${NGROK_AUTH}"
      - "NGROK_PORT=host.docker.internal:4000"
      - "NGROK_SUBDOMAIN=${NGROK_SUBDOMAIN}"
