<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="shopify-api-key" content={ShopifyApp.Config.api_key()} />

    <%!-- Polaris CSS --%>
    <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@11.14.0/build/esm/styles.css" />
    <%!-- AppBridge JS --%>
    <script src="https://cdn.shopify.com/shopifycloud/app-bridge.js">
    </script>

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>

    <ui-nav-menu>
      <a href="/shop_admin/shopify_app/" rel="home">Root</a>
      <a href="/shop_admin/shopify_app/">Home</a>
    </ui-nav-menu>
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
</html>
