<ui-title-bar title="Home">
  <button variant="primary" onclick="console.log('Primary action')">
    Primary action
  </button>
</ui-title-bar>

<header>
  Example <strong>Home</strong> LiveView
</header>
