<ui-title-bar title={@page_title}>
  <.button variant="primary" phx-click="action" phx-value-title="Primary">
    Primary action
  </.button>
  <.button phx-click="action" phx-value-title="Secondary">
    Secondary action
  </.button>
</ui-title-bar>

<header>
  Example <strong>Home</strong> LiveView
</header>

<.navigation_links />
