<ui-title-bar title={@page_title}>
  <button onclick="console.log('Secondary action')">Secondary action</button>
</ui-title-bar>

<header>
  Example <strong>Settings</strong> LiveView
</header>

<.navigation_links />
