{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "arrow-body-style": "off",
    "react/jsx-filename-extension": [
      "warn",
      { "extensions": [".tsx", ".jsx"] }
    ],
    "react/jsx-one-expression-per-line": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "varsIgnorePattern": "^_" }
    ]
  }
}
